<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <div id="app">
    <cpn :number1="num1" :number2="num2" @num1change="num1Change" @num2change="num2Change"></cpn>
  </div>

  <template id="cpn">
    <div>
      <h2>props:{{number1}}</h2>
      <h2>data:{{dnumber1}}</h2>
      <input type="text" v-model="dnumber1">
      <h2>props:{{number2}}</h2>
      <h2>data:{{dnumber2}}</h2>
      <input type="text" v-model="dnumber2">
    </div>
  </template>

  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        num1: 1,
        num2: 0
      },
      methods: {
        num1Change(value) {   //value是字符串，需要转换类型
          this.num1 = value * 1  //可以字符串转整形
        },
        num2Change(value) {
          this.num2 = parseInt(value)     //paresInt()转为int型，也可以parseFloat()
        }
      },
      components: {
        cpn: {
          template: '#cpn',
          props: {
            number1: Number,
            number2: Number
          },
          data() {
            return {
              dnumber1: this.number1,
              dnumber2: this.number2    //被监听
            }
          },
          watch:{
            dnumber1(newvalue){   //监听什么写什么，参数：(newvalue,oldvalue)
              this.dnumber2 = newvalue *100;
              this.$emit('num1change', newvalue)
            },
            dnumber2(newvalue){
              this.dnumber1 = newvalue /100;
              this.$emit('num2change', newvalue)
            }
          }
        }
      }
    })
  </script>

</body>

</html>